h3
{
    font-size: 25px !important;
}
.btn-success:hover
{
    background-color:crimson;
}
    canvas {
        animation-name: example;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
@keyframes example {
    from {box-shadow: 10px 10px 50px crimson;}
    to {box-shadow: 10px 10px 50px yellow;}
}    